* {
    box-sizing: border-box;
    margin: 0;

}
.navigation {
    background: #000000;
    .logo{
        color: white;
    }
}
.container {
    background: #000000;
}
.container {
   
    .item {
        color: white;
    }
    .item1 {
        color: white;
    }
}