* {
    box-sizing: border-box;
    margin: 0;
    background: #000000;

}
.main-container {

   
}
.navigation {
   

    .logo{
        
        color: white;
        font-family: "baloo";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.25px;
        margin-right: 20px;
        margin-left: 20px;
        position: relative;
        left: 40px;

    }

}
.list-item{
display: inline-flex;
}

li {
  
    display:inline-flex;
    justify-content: space-between;
  
  
}

a {
    position: relative;
    top:45px;
    margin:5px;
    color: white;
    text-decoration: none;
   
   

}



.bar  {
    display: inline-flex;
    justify-content: space-between;
 
}


.container {
 
    width: 211px; 
    height: 104px;
    position: relative;
    left: 100px;
    top: 70px;

   
    .item {
        color: white;
        font-family: "poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.8px;
        width: 158px;
  
    }
    .item1 {
        color: white;
        font-family: "source sans pro";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        width:235px ;
        height:49px ;
       
    }
}

.menu {
    color:grey;
    padding: -0.5px;
    position: relative;
    top: 45px;
    margin-right:10px ;
   
    
} 

.img {
    width:320px ;
    height:366px ;
    position: relative;
    left: 100px;
    top: 70px;
    margin-top: 50px;
}


@media screen and (min-width:650px) {
   .menu { 
          display: none;
    }
   /* .list-item {
        display: none;
    }*/
}

@media screen  and(max-width:650px) {
    .list-item {
        display: none;
       
    }
}


    

