* {
    box-sizing: border-box;
    margin: 0;
    background: #000000;

}
.main-container {

   
}
.navigation {
   

    .logo{
        
        color: white;
        font-family: "baloo";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.25px;
        margin-right: 20px;
        margin-left: 20px;
        position: relative;
        left: 40px;

    }
}

.container {
 
    width: 211px; 
    height: 104px;
    position: relative;
    left: 100px;
    top: 70px;

   
    .item {
        color: white;
        font-family: "poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.8px;
        width: 158px;
  
    }
    .item1 {
        color: white;
        font-family: "source sans pro";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        width:235px ;
        height:49px ;
       
    }
}
.img {
    width:320px ;
    height:366px ;
    position: relative;
    left: 100px;
    top: 70px;
    margin-top: 50px;
}

/*@media screen and (width:) {
    
}*/